
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    color: black;
  }
  .custom-btn {
    border-radius: 15px;
    text-align: center;
    width: 100%;
  }
  