<div class="banner position-absolute"></div>
<div class="container z-3 position-relative">
    <div class="row">
        <div class="col-8">
            <div class="userDetailscontainer d-flex vh-25 flex-wrap align-content-center overflow-hidden">
                <div class="userImageContainer col-4 h-100">
                    <i class="bi bi-person-fill d-block w-100 h-100 overflow-hidden size text-center"></i>
                </div>
                <div class="userDetailsTextContainer d-flex flex-column col-8 m-auto">
                    <h1>{{userDetails.username}}</h1>
                    <h5>{{userDetails.nombre}}</h5>
                    <h5>{{userDetails.email}}</h5>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex flex-wrap align-content-center">
            <div class="text-white d-flex flex-column darkGray h-90 w-100">
                <div class="topRowContainer d-flex">
                    <div class="textContainer fst-italic mt-4 ps-2">
                        <h5>Balance</h5>
                        <p class="text-light">{{today}}</p>
                    </div>
                    <div class="logoContainer m-left-auto mt-4 m-left-auto">
                        <img _ngcontent-ng-c2855160279="" src="../../../favicon.ico" class="me-2 sentToTop" alt="BikeApp" width="55px">
                    </div>
                </div>
                <div class="balanceContainer mt-auto d-flex">
                    <h1 class="ps-2">69'69€</h1>
                    <button class="btn btn-dark m-left-auto me-2">Add Balance</button>
                </div>
            </div>
        </div>
    </div>
</div>