<div class="container-fluid bg-light">
    <div class="row">
        <!-- Columna para la información de la bicicleta -->
        <div class="offset-lg-1 col-md-5 p-3">
            <p><strong>Bike Model:</strong> {{bike}}</p>
            <p><strong>Trip Time:</strong> {{tiempoTranscurrido}}</p>
            <p><strong>Cost:</strong> {{cost.toFixed(2)}} €/min</p>
        </div>

        <!-- Columna para la imagen y el botón -->
        <div class="col-md-5 p-3">
            <!-- Contenedor para la imagen (centrada) -->
            <div class="text-center mb-3">
                <img src="../../../assets/img/bike-trip.png" alt="">
            </div>

            <!-- Botón que ocupa todo el ancho -->
            <button class="btn btn-dark btn-block rounded-pill col-12">Finish Ride</button>
        </div>
    </div>
</div>