<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-8 p-3">
            <h2>Bike Model</h2>
            <h2>Trip Time</h2>
            <h2>Cost</h2>
        </div>
        <div class="col-md-4 p-3">
            <div class="tenor-gif-embed" data-postid="19067801" data-share-method="host" data-aspect-ratio="1"
                data-width="100%"><a href="https://tenor.com/view/bike-bicycle-ride-riding-pedal-gif-19067801">Bike
                    Bicycle Sticker</a>from <a href="https://tenor.com/search/bike-stickers">Bike Stickers</a></div>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            <button class="btn btn-dark btn-block px-5 rounded-pill ">Finish Ride</button>
        </div>
    </div>
</div>